body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
}

.accent {
  color: #4d5ae5;
}

a {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 2%;
}

a:hover,
a:focus,
a:active {
  color: #404bbf;
}

ul {
  list-style-type: none;
}

.address-list-link {
  color: #434455;
  font-weight: 400;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

.main-title {
  color: #ffffff;
  background-color: #2e2f42;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.main-title .main-title-button {
  background-color: #4d5ae5;
  color: #ffffff;
}

.main-title .main-title-button:hover,
.main-title .main-title-button:focus {
  background-color: #404bbf;
}
