body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
  letter-spacing: 2%;
}

.accent {
  color: #4d5ae5;
}

a {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.333;
}

a:hover,
a:focus,
a:active {
  color: #404bbf;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.address-list-link {
  color: #434455;
  font-weight: 400;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

.main {
  color: #ffffff;
  background-color: #2e2f42;
  line-height: 1.07;
  font-weight: 700;
  text-align: center;
}

.main .main-title-button {
  background-color: #4d5ae5;
  color: #ffffff;
  line-height: inherit;
}

.main .main-title-button:hover,
.main .main-title-button:focus {
  background-color: #404bbf;
}

h2,
h3 {
  color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}

.team .team-title {
  text-align: center;
}

.team li {
  background-color: #ffffff;
}

.team h3,
.team p {
  text-align: center;
}

.footer {
  color: #ffffff;
  background-color: #2e2f42;
}

.footer .studio {
  color: #ffffff;
}
